.container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  padding: 30px;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.title {
  margin-bottom: 30px;
  padding-bottom: 200px;
  color: white;
}

.paymentOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  
}

.paymentMethod {
  width: 180px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fafafa;
  cursor: pointer;
  text-align: center;
}

.paymentMethod:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paymentMethod img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.paymentMethod p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
