.btnplanos{
  background-color: black;
}

.centroh2 {
  font-size: 80px;
  font-family: "Poppins"; 
  src:url("https://fontmeme.com/fontes/fonte-poppins/") format ("Poppins");
  padding-left: 5%;
  padding-top: 10%; 
}

.centrop {
  font-size: 35px;
  color: gray;
  font-family: "Poppins"; 
  src:url("https://fontmeme.com/fontes/fonte-poppins/") format ("Poppins");
  padding-left: 5%;
}

.centroimg {
  float:right; 
}