:root {
  --background: #777777;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}
header {
  background-color: #000000;
  word-spacing: 3px;
  display: flex;
  align-items: center;
  gap: 50px;

  padding: 5px;
  box-sizing: border-box;
}
.espacamento-h1 {
  display: flex;
  align-items: center;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.divespacamentodelinhas {
  display: flex;
  gap: 50px;
  align-items: center;
}

.titulo {
  padding-left: 20px;
}

.button {
    width: 100px; 
    height: 35px; 
    background-color: #00000000; 
    border-radius: 10px;
}



