.box {
    justify-content: space-around;
    height: 150px; 
    background-color: #606060; 
    margin: 100px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    font-size: 30px;
    align-items: center;
}

/* AQUI ESTÃO AS CLASSES QUE FALTAVAM */

.nome {
    color: white;
    width: 250px;
}

.checkins {
    color: white;
    width: 300px;
}

.valor {
    color: white;
    width: 300px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px; 
    height: 35px; 
    background-color: white; 
    border-radius: 10px;
}

.sucesso {
  padding: 20px;
  background-color: gray;
  color: #e5e7eb;
  border-radius: 12px;
  text-align: center;

  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

