.box {
    justify-content: space-around;
    height: 150px; 
    background-color: #606060; 
    margin: 100px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    font-size: 30px;
}

.button {
    width: 100px; 
    height: 35px; 
    background-color: white; 
    border-radius: 10px;
}


