.container {
    display: flex; 
    justify-content: space-between; 
    text-align: center;
}
.box {
    width: 200px; 
    height: 150px; 
    background-color: #606060; 
    margin: 100px;
    border-radius: 10px
}

.button {
    width: 85px; 
    height: 35px; 
    background-color: #ff0000; 
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
}

.mes {
    margin-top: 15px;
}

.men {
    margin-left: 50px;
}

.status {
    margin-top: 50px;
}