.container {
  text-align: center;
  width: 100%;
}

.plano {
  padding-top: 30px;
  text-align: center;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }

  .plano {
    padding-top: 20px;
  }
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}
