.container {
    display: flex; /* Define o elemento como flexível */
    justify-content: space-between; /* Espacia os elementos entre eles */
    /* Outras propriedades podem ser adicionadas para alinhamento vertical, etc. */
}
.box {
    width: 200px; /* Define a largura das caixas (opcional) */
    height: 300px; /* Define a altura das caixas (opcional) */
    background-color: #606060; /* Define a cor de fundo das caixas (opcional) */
}